*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    position: fixed;
   /* background-color: red; */
   width: 100%;
   display: flex;
   align-items: center;
   justify-content:flex-end;
   padding: 30px 40px;

}
#nav h3{
    font-size: 20px;
    font-weight: 600;
    background-color: black;
    color: #fff;
    margin: 5px;
    padding: 5px 5px;
    border: 2px solid black;
    border-radius: 25px;

}
#intro{
    height: 50%;
    width: 100%;
    /* background: rgb(203, 171, 30); */
    
    padding: 10px 50px;
    
}
#intro h1{
    font-size: 145px;
    letter-spacing: -3px;
    line-height: 120px;
}
#plane{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#plane h3,#plane h4{
    font-size: 30px;
    font-weight: 500;
}
#hero-image{
    height: 310%;
    width: 100%;
    background-image: url(https://uploads-ssl.webflow.com/64aec47f1f0a9d92cd0a2d73/64aec47f1f0a9d92cd0a2e2c_about-p-1080.webp);
    background-size: cover;
}
#about{
    height: 45%;
    width: 100%;
    
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#about h2{
    
    width: 75%;
    font-size: 71px;
    line-height: 60px;
    letter-spacing: 1px;
    padding: 35px;
}
#about-part2{
    height: 100%;
    margin: 15px;
    padding: 45px 75px;
    width: 55%;
    border-left: 2px solid black; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}
#about-part2 h3{
    font-size: 32px;
    font-weight: 600;
}
#icons{
    /* background-color: red; */
    font-size: 35px;
}
#icons i{
    background-color: black;
    border: 2px solid black;
    border-radius: 50px;
    color: #fff;
    margin-right: 5px;
}
#what{
    border-top: 2px solid black;
    height: 30%;
    width: 100%;  
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px 60px; 
}
#what1{
    /* background-color: red; */
    height: 100%;
    width: 30%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    border-right: 2px solid black;
}
#what1 i{
    font-size: 30px;
    font-weight: 500;
}
#what2{
   
    
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
    
}
.what2-part :nth-child(1){
   
    border-bottom: 2px solidblack;
    border-left: 2px solidblack ;

}
.what2-part :nth-child(2){
  
    border-bottom: 2px solidblack;

}
.what2-part .elem:nth-child(1) {
    width: 70vh;
 border-bottom: 2px solid black;
 
}
.what2-part .elem h4{
 font-size: 40px;
 font-weight: 10px;
 border-bottom: 2px solid black;
}
